<div id="boxes">
	<div id="dialog" class="window">
		Simple Modal Window |<a href="#" class="close" />[X]</a>
	</div>

	<div id="mask"></div>
</div>

<SCRIPT LANGUAGE="JavaScript">

function Popup(style,size,value1,value2,value3,value4){
		var divModal = document.getElementById(size);
		switch(style){
			case 'manualLotto' :	divModal.innerHTML = "<iframe src='/pages/manual?inputPay="+value1+"' marginwidth='0' marginheight='0' scrolling='yes' frameborder='0' height='400' ></iframe>"; break;
		}
    var id = divModal;
    var maskHeight = $(document).height();
    var maskWidth = $(window).width();
    $('#mask').css({'width':maskWidth,'height':maskHeight});
    $('#mask').fadeIn(1000);
    $('#mask').fadeTo("slow",0.8);
    var winH = $(window).height();
    var winW = $(window).width();
    $(id).css('top',  winH/2-$(id).height()/2);
    $(id).css('left', winW/2-$(id).width()/2);
    $(id).fadeIn(2000);
}


////////////////////////////////////////
//Mask Click
$(document).ready(function() { 
	
    $('textarea[name=inputManual]').keydown(function(){
        var rows = $('#inputManual').val().split('\n').length;
        var maxRows = 3;
        if( rows > maxRows){
            alert('3줄 까지만 가능합니다');
            modifiedText = $('#inputManual').val().split("\n").slice(0, maxRows);
            $('#inputManual').val(modifiedText.join("\n"));
        }
    });

	var textCountLimit = 2000;
	
    $('textarea[name=inputManual]').keyup(function() {
        // 텍스트영역의 길이를 체크
        var textLength = $(this).val().length;
 
        // 입력된 텍스트 길이를 #textCount 에 업데이트 해줌
        $('#textCount').text(textLength);
         
        // 제한된 길이보다 입력된 길이가 큰 경우 제한 길이만큼만 자르고 텍스트영역에 넣음
        if (textLength > textCountLimit) {
            $(this).val($(this).val().substr(0, textCountLimit));
        }
    });
//if close button is clicked
	$('.window .close').click(function (e) {
  //Cancel the link behavior
		e.preventDefault();
	  $('#mask').hide();
    $('.window').hide();
	});                
	//if mask is clicked
  $('#mask').click(function () {
	  $(this).hide();
    $('.window').hide();
  });                     

	$(window).resize(function () {
		var box = $('#boxes .window');
  	//Get the screen height and width
	  var maskHeight = $(document).height();
    var maskWidth = $(window).width();
      
    //Set height and width to mask to fill up the whole screen
  	$('#mask').css({'width':maskWidth,'height':maskHeight});
                
    //Get the window height and width
    var winH = $(window).height();
    var winW = $(window).width();
        
    //Set the popup window to center
    box.css('top',  winH/2 - box.height()/2);
    box.css('left', winW/2 - box.width()/2);
	}); 
});
$(function() {
	$( "#datepicker1, #datepicker2" ).datepicker({
  	dateFormat: 'yymmdd'
  });
});


</script>