<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{{> include/head}}
<script>
{{> include/util}}

</script>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        {{> include/nav}}

        <br><br>
        
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">학원 회원가입 </h3>
                    </div>
                    <div class="panel-body">
                    <form name="password_form" method="post" action="/users/enrollAcademy">
							<input type="hidden" class="form-control" name="tokenNumber" id="tokenNumber" value="{{tokenNumber}}">
							<input type="hidden" class="form-control" name="emailId" id="emailId" value="{{emailId}}">
							<input type="hidden" class="form-control" name="password" id="password" value="{{password}}">
							<fieldset>
								<label for="user_id">STEP 2</label>
								<label for="user_id">교육원 정보 입력</label>
								<label for="user_id">휴대폰 인증</label>
              <button type="button" class="btn btn-success clearfix pull-right">인증번호 전송</button>	
              <div class="form-group">
                  <input type="text" class="form-control" id="ownerName" name="ownerName"  placeholder="대표 이름(원장)">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="academyName" name="academyName"  placeholder="교육원명">
              </div>              
								<label for="user_id">학원주소</label>
              <div class="form-group">
                  <input type="text" class="form-control"  placeholder="시 /군 /구">
                  <input type="text" class="form-control"  placeholder="상세주소를 입력하세요">
                  <input type="text" class="form-control" id="academyNum" name="academyNum" placeholder="사업자 등록번호('-'없이 숫자만 입력)">
              </div>  
								<label for="user_id">이용약관 동의</label>
              <button type="button" class="btn btn-success clearfix pull-right">동의</button>	
							</fieldset>
							<br>
              <button type="submit" class="btn btn-lg btn-success btn-block">가입완료</button>	
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
