<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{{> include/head}}
<script>
{{> include/util}}

</script>

<body>

        <!-- Navigation -->
        {{> include/nav}}

        <br><br>
        
    <div id="wrapper">

<div class="section section-examples" data-background-color="white">
 <div class="space-50"></div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <a href="/pages/parentJoinForm" target="_blank">
                                <img src="/assets/img/parentJoinBanner.PNG" alt="Image" class="img-raised">
                            </a>
                            <br><br><br>
                            <a href="/pages/parentJoinForm" target="_blank">
                                <img src="/assets/img/parentJoin.PNG" alt="Image" class="img-raised">
                            </a>                            
                        </div>
                        
                    </div>
                </div>
            </div>
</div>
{{> include/footer}}
    
